<article class="shadow-md">
    <h4 class="article-head bg-blue-700 p-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A asperiores inventore ipsum, officiis quod rerum!</h4>
    <p class="article-body bg-blue-600 p-4">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusamus aliquam animi, aperiam asperiores corporis dignissimos dolor dolore doloribus error fuga fugiat impedit inventore iusto libero minus nam nesciunt nobis officia perferendis perspiciatis quae quas qui quia quod rerum sapiente velit veritatis vitae voluptate? Maiores?<br><br>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda dolorem perspiciatis repellendus voluptas.
    </p>
    <p class="article-foot bg-blue-700 p-4">
        <small><i class="fa fa-clock"></i> 666:66:66 01/01/42</small> - <span><i class="fa fa-tag"></i> Article</span>
    </p>
</article>