<aside class="w-1/3 m-10">
    <div class="category-box bg-gray-900 mb-4 p-4">
        <h4 class="title-marked">Search</h4>
        <input type="search" class="text-black py-2 px-5 mb-2 w-full"/>
        <button class="btn btn-full block m-auto">Submit</button>
    </div>
    <div class="category-box bg-gray-900 mb-4 p-4">
        <h4 class="title-marked">Categories</h4>
        <ul>
            <li><a href="#"><i class="fa fa-arrow-right"></i> Cat#cxx</a></li>
            <li><a href="#"><i class="fa fa-arrow-right"></i> Cat#cxx</a></li>
            <li><a href="#"><i class="fa fa-arrow-right"></i> Cat#cxx</a></li>
            <li><a href="#"><i class="fa fa-arrow-right"></i> Cat#cxx</a></li>
        </ul>
    </div>
</aside>