<footer class="site-footer p-10">
    <div class="text-center font-bold mb-6">tristantheb Production copyright 2020 - v11.0, all rights reserved</div>
    <div class="flex justify-around">
        <div class="flex flex-col">
            <h5 class="title-marked">Me and my works</h5>
            <ul>
                <li><a href="">Lorem ipsum dolor sit amet.</a></li>
                <li><a href="">Lorem ipsum dolor sit amet.</a></li>
                <li><a href="">Lorem ipsum dolor sit amet.</a></li>
            </ul>
        </div>
        <div class="flex flex-col">
            <h5 class="title-marked">Community & blog</h5>
            <ul>
                <li><a href="">Lorem ipsum dolor sit amet.</a></li>
                <li><a href="">Lorem ipsum dolor sit amet.</a></li>
                <li><a href="">Lorem ipsum dolor sit amet.</a></li>
            </ul>
        </div>
        <div class="flex flex-col">
            <h5 class="title-marked">Socials supports</h5>
            <ul>
                <li><a href="">Lorem ipsum dolor sit amet.</a></li>
                <li><a href="">Lorem ipsum dolor sit amet.</a></li>
                <li><a href="">Lorem ipsum dolor sit amet.</a></li>
            </ul>
        </div>
    </div>
</footer>