<div class="highlighting-box">
    <h4 class="title-marked">Highlight of latest events</h4>
    <div class="highlight-news">
        <h5><i class="fa fa-bullhorn"></i> %name.of.the.announce%</h5>
        <p>%desc.of.the.announce%</p>
        <a>Go to the news <i class="fa fa-chevron-right"></i></a>
    </div>
    <div class="highlight-news">
        <h5><i class="fa fa-newspaper"></i> %name.of.the.article%</h5>
        <p>%desc.of.the.article%</p>
        <a>Go to the news <i class="fa fa-chevron-right"></i></a>
    </div>
</div>