<article class="clear-both">
    <img class="float-left mr-6 w-56" src="https://vignette.wikia.nocookie.net/deadbydaylight/images/8/8a/No_one_escapes_death_perk.png/revision/latest?cb=20170127225020">
    <h5>Test</h5>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum ipsam molestiae nostrum obcaecati odio saepe veritatis? Commodi dolor dolorem earum optio quae qui rem repellendus sit! Blanditiis nihil perspiciatis vitae?</p>
</article>