<nav id="page-menu" class="site-menu">
    <h1 class="page-title">{{ page_name }}</h1>
    <ul class="menu-list">
        <li class="menu-item"><a href="#"><i class="fa fa-home"></i></a></li>
        <li class="menu-item"><a href="#">Blog</a></li>
        <ul class="submenu-list">
            <span class="menu-label">Community</span>
            <li class="submenu-item"><a href="#">Forum</a></li>
            <li class="submenu-item"><a href="#">Information</a></li>
            <li class="submenu-item"><a href="#">Latest post</a></li>
        </ul>
        <ul class="submenu-list">
            <span class="menu-label">About me</span>
            <li class="submenu-item"><a href="#">History</a></li>
            <li class="submenu-item"><a href="#">Running Projects</a></li>
            <li class="submenu-item"><a href="#">Portfolio</a></li>
        </ul>
    </ul>
</nav>