<nav id="page-menu" class="site-menu">
    <h2 class="page-title">tristantheb production</h2>
    <ul class="menu-list">
        <li class="menu-item"><a href="{{ path('index') }}"><i class="fa fa-home"></i></a></li>
        <li class="menu-item"><a href="{{ path('blog') }}">Blog</a></li>
        <li>
            <ul class="submenu-list">
                <li class="menu-label">Community</li>
                <li class="submenu-item"><a href="#">Forum</a></li>
                <li class="submenu-item"><a href="#">Information</a></li>
                <li class="submenu-item"><a href="#">Latest post</a></li>
            </ul>
        </li>
        <li>
            <ul class="submenu-list">
                <li class="menu-label">About me</li>
                <li class="submenu-item"><a href="#">History</a></li>
                <li class="submenu-item"><a href="#">Running Projects</a></li>
                <li class="submenu-item"><a href="#">Portfolio</a></li>
            </ul>
        </li>
    </ul>
</nav>