body {
    color: #fff;
}

a, a:link {
    color: #00e1ff;
    cursor: pointer;
    position: relative;
    transition: 0.7s all;
}
a::after, a:link::after {
    background: #fff;
    bottom: 0;
    content: "";
    height: 1px;
    position: absolute;
    left: 0;
    transition: width 0.7s;
    width: 0;
}

a:hover, a:link:hover {
    color: #fff;
}
a:hover::after, a:link:hover::after {
    width: 100%;
}

h3, h4, h5, h6 {
    padding: 10px 0;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.25rem;
}

h3 {
    font-size: 1.725rem;
}

h4 {
    font-size: 1.5rem;
}

h5 {
    font-size: 1.125rem;
}

hr {
    border-top-width: 0;
    background: linear-gradient(45deg, #00e1ff, #43005e, #00e1ff);
    height: 3px;
    margin: 20px auto;
    width: 60%;
}

.content {
    margin: auto;
    width: 80vw;
}

.title-marked {
    margin-bottom: 20px;
    position: relative;
}
.title-marked:after {
    background: #00e1ff;
    bottom: 0;
    content: "";
    height: 3px;
    position: absolute;
    left: 0;
    width: 100px;
}

/** Head of page **/
header {
    background: #43005e;
    background: linear-gradient(335deg, #43005e 10%, #030362 55%, #0066dd 100%);
}

.site-head {
    left: 5vw;
    position: relative;
    top: 25vh;
}

.highlighting-box {
    position: absolute;
    right: 5vw;
    top: 25vh;
    width: 30vw;
}

.highlight-news {
    margin-bottom: 8px;
}

/** Menu **/
.site-menu {
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
}

.page-title {
    font-size: 1.6rem;
    font-weight: bold;
    height: 100%;
    padding: 5px 15px;
    position: relative;
}

.menu-list {
    right: 0;
    position: absolute;
}
.menu-list, .submenu-list {
    display: flex;
}
.menu-item a, .submenu-item a, .menu-label {
    align-items: stretch;
    color: #fff;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 50px;
    text-align: center;
    min-width: 180px;
}
.menu-item a:hover, .submenu-item a:hover, .menu-label:hover {
    color: #00e1ff;
}

.submenu-list > li, .submenu-list > ul {
    display: none;
}
.submenu-list:hover, .submenu-list:hover > li, .submenu-list:hover > ul {
    display: flex;
    flex-direction: column;
}

/** Statistics **/
.statistic-icon {
    align-items: center;
    border: 2px solid #00e1ff;
    display: flex;
    height: 80px;
    justify-content: center;
    margin: 35px;
    transform: rotate(45deg);
    transition: all 0.3s;
    width: 80px;
}
.statistic-icon:hover {
    transform: rotate(0deg);
}
.statistic-icon i {
    height: 30px;
    font-size: 30px;
    transform: rotate(-45deg);
    transition: all 0.3s;
    width: 30px;
}
.statistic-icon:hover i {
    transform: rotate(0deg);
}

/** Button design **/
.btn {
    font-weight: bold;
    padding: 15px 35px;
    position: relative;
}

.btn-empty::before, .btn-empty::after {
    content: "";
    height: 25%;
    position: absolute;
    transition: 0.7s all;
    width: 25%;
}
.btn-empty:hover::before, .btn-empty:hover::after {
    height: 100%;
    width: 100%;
}
.btn-empty::before {
    border-left: 3px solid #00e1ff;
    border-top: 3px solid #00e1ff;
    left: 0;
    top: 0;
}
.btn-empty::after {
    border-bottom: 3px solid #00e1ff;
    border-right: 3px solid #00e1ff;
    bottom: 0;
    right: 0;
}

.btn-full {
    background-image: linear-gradient(125deg, transparent, transparent 25%, #00e1ff 100%);
    transition: 0.7s all;
}
.btn-full:hover {
    background-color: #00e1ff;
}

/** Progress bar **/
.progress-bar {
    background: #0a101c;
    height: 25px;
    position: relative;
    width: 100%;
}
.progress {
    background: linear-gradient(135deg, #00e1ff, #43005e);
    font-weight: bold;
    height: 100%;
    position: absolute;
    left: 0;
    text-align: center;
}